// size
$size16px: 16px;
$size18px: 18px;
$size20px: 20px;
$size24px: 24px;
$size32px: 32px;
$size64px: 64px;
$size200px: 200px;
$default-width: 1280px;


// percent
$percent100: 100%;

// color
$default-color: #FBFBFB;
$default-text-color: #414141;
$primary-color: #FFCC26;
$danger-color: #d10000;

// font
$font-anek: 'Anek Telugu', sans-serif;
$font-poppins: 'Poppins', sans-serif;

// вуафгд layout
$default-margin: 0 auto;