@import '../../../scss/constants';

.favourite {
  position: relative;
  width: 320px;
  height: inherit;
  margin-bottom: 25px;

  &List {
    width: inherit;
    min-height: 440px;
    max-height: 660px;
    overflow: hidden;
    overflow-y: auto;
    border: 2px dashed $default-text-color;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;

    &Item {
      margin: 10px;
    }
  }
}
