@import '../../../scss//constants';

.icon {
  color: $default-color;

&Liked {
  color: $default-text-color;
}
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  padding: 0;
  background-color: $primary-color;
  border-radius: 6px;
}
