@import 'src/scss/constants.scss';

.card {
  display: grid;
  grid-template-rows: $size200px auto;
  justify-content: center;
  gap: 20px;
  width: $percent100;
  max-width: 262px;
  height: $percent100;
  max-height: 350px;
  padding: 15px;
  border-radius: 75%;
  border: 2px dashed $default-text-color;
  background-color: $default-color;

  &Image {
    max-height: 180px;
    max-width: $size200px;
    margin: 0;
  }

  &Description {
    width: $size200px;
    font-family: $font-poppins;
    font-size: $size18px;
    font-weight: 300;

    &Block {
      display: flex;
      align-items: start;
      flex-direction: column;
      justify-content: start;
      width: $percent100;
      max-width: 90%;
      margin: 0 auto;
      padding: 0;
    }
  }

  &Price {
    font-size: $size20px;
    font-weight: 500;

    &Block {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 40px;
      padding: 0;
      margin: 20px auto 0;
    }
  }
}
