@import '../../scss/constants';

.product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: $percent100;
  height: 600px;
  padding: 10px;

  &Img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 248px;
  }

  &Description {
    width: 560px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  &Title {
    font-size: $size24px;
  }

  &Info {
    display: flex;
    justify-content: space-between;
    width: 60%;
  }

  &Price {
    font-size: $size32px;
    color: $default-text-color;
    font-family: $font-anek;
  }

  &Button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    background-color: $primary-color;
    padding: 0;
    border-radius: 6px;
  }
}
